body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.header h1 {
    margin: 0;
}

.nav-links {
    margin-top: 20px;
}

.nav-links a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #3498db;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #3498db;
    color: #fff;
}
